.container {
  text-align: center;
  background-color: burlywood;
  height: 1200px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
  float: left;
}
.square1 {
  color: red;
}
.square2 {
  color: aquamarine;
}
.col {
  display: inline-block;
}

button:disabled.btn {
  background: grey !important;
  color: #60a3bc;
}

.btn {
  width: 120px;
  height: 40px;
  /* border-color: aquamarine; */
  margin: 20% 20%;
  font-weight: bold;
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #60a3bc;
  /* padding: 20px; */
  border-radius: 50px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}
.left-menu {
  width: 320px;
  display: inline-block;
  margin-top: 12%;
  margin-left: 10%;

  float: left;
}

h1 {
  text-align: center;
}

.board-container {
  display: inline-block;
  text-align: center;
  margin-top: 4%;
  margin-left: 5%;
  float: left;
}
.right-menu {
  display: inline-block;
  float: left;
  margin-top: 10%;
  margin-left: 5%;

  /* margin-right: 20%; */
}
.winningSquare {
  color: yellow;
  background: lightpink;
}

@media only screen and (max-width: 1200px) {
  .left-menu {
    display: none;
  }
  .right-menu {
    margin-right: 0%;
  }
}
h2 {
  color: red;
  position: fixed;
  padding-left: 45%;
  padding-top: 0%;
}
